<html>
  <head>
    <meta charset="utf-8" />
    <title>Skye</title>
    <link rel="stylesheet" href="/static/index.css">
    <script src="https://replit.com/public/js/repl-auth-v2.js"></script>
  </head>
  <body>
    <header class="header">
      <div class="header-content">
        <img src="/static/skye.png" alt="Random logo" class="logo" />
        <nav class="nav">
          <a href="/" class="nav-link">Home</a>
          <a href="/listings" class="nav-link">Trips</a>
          <a href="/bookings" class="nav-link">Settings</a>
          {% if username %}
            Welcome, {{ username }}
          {% else %}
            <button onclick="LoginWithReplit()"> Login with Replit</button>
          {% endif %}
        </nav>
      </div>
    </header>
    <h1 class = "landing">
      Skye
    </h1>

  </body>
  
</html>