<!DOCTYPE html>
<html>
<head>
    <title>Trips</title>
    <link rel="stylesheet" href="/static/index.css">
    <script src="https://replit.com/public/js/repl-auth-v2.js"></script>
</head>
<body>
    <header class="header">
      <div class="header-content">
        <img src="/static/skye.png" alt="Random logo" class="logo" />
        <nav class="nav">
          <a href="/" class="nav-link">Home</a>
          <a href="/trips" class="nav-link">Trips</a>
          <a href="/bookings" class="nav-link">Settings</a>
          {% if username %}
            Welcome, {{ username }}
          {% else %}
            <button class="nav" onclick="LoginWithReplit()"> Login with Replit</button>
          {% endif %}
        </nav>
      </div>
    </header>
    
    <div>
        <h2>All Trips:</h2>

        <div class="trips">
            {% for trip in trips %}
            <div class="trip-tile">
                <h3>{{ trip.destination }}</h3>
                <p>{{ trip.start_date }} - {{ trip.end_date }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
